<% if @item[:comments].nil? %>
  <% unless @item.identifier.to_s.split('/')[1] == 'ce' %>
    <div id='discourse-comments'></div>
    <script type="text/javascript">
      DiscourseEmbed = { discourseUrl: 'https://forum.gitlab.com/',
        discourseEmbedUrl: '<%= @config[:base_url] %><%= @item.identifier.without_ext + '.html' %>' };

      (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
      })();
    </script>
  <% end %>
<% end %>
